.header {
    position: relative;
    height: 68px;
    overflow: hidden;
    margin-left: 6.9%;
    margin-right: 6.9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%; 
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px; 
}

li {
    display: inline;
}