/* LOGEMENT */
.logement {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.TitleHost {
  display: flex;
  justify-content: space-between;
}

.Tag-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; 
  
  .content-tags {
    flex-grow: 1; 
  }

  .content-rate {
    flex-shrink: 0;
    
  }
}

@media (max-width: 375px) {
  .Tag-rate {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .content-rate {
    margin-left: 0;
  }

  .host {
    text-align: right;
    margin-left: auto;
  }
}