/* LOGEMENT */
.logement {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Tag-rate {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%; 
  
  .content-tags {
    flex-grow: 1; 
  }

  .content-rate {
    flex-shrink: 0;
    margin-left: auto; 
  }
}


@media (max-width: 375px) {
  .Tag-rate {
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px; 
  }

  .content-rate {
    margin-left: 0; 
  }
}