/* NOT FOUND */
.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    h2 {
      font-size: 288px;
      color: #ff6060;
      margin-top: 20px;
      margin-bottom: 20px; 
    }
  
    p {
      font-size: 36px;
      color: #ff6060; 
      margin-top: 40px;
      margin-bottom: 60px;
      text-align: center;
    }
    .home-link {
        margin-top: 20px;
        font-size: 18px;
        color: black; 
        text-decoration: underline;
        transition: color 0.3s ease;
        margin-bottom: 50px;
    
      }
    }

    @media (max-width: 375px) {
        .not-found h2 {
          height: 99px; 
          font-size: 96px; 
        }
      
        .not-found p {
          font-size: 18px;
          width: 260px;
         
        }
      
        .home-link {
          font-size: 14px;
        }
      }