/* COLLAPSE */
.collapse {
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1023px;
  
    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      background-color:#ff6060;;
      cursor: pointer;
      border-radius: 10px;
  
      h3 {
        margin: 0;
        font-size: 18px;
        
        color: white;
      }
  
      .arrow {
        transition: transform 0.3s ease;
        font-size: 18px;
        color: white;
        transform: rotate(90deg); /* Flèche vers le haut par défaut */
      }
  
      .open {
        transform: rotate(270deg); /* Fait pivoter la flèche vers le bas */
      }
    }
  
    .collapse-content {
      padding: 15px;
      background-color: #F6F6F673;
      border: 1px solid #F6F6F673;
  
      p {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
      }
    }
  }