/* Variables pour le style */
$banner-height: 223px;
$banner-radius: 25px;
$font-family: 'Montserrat', sans-serif;
$font-size: 48px;
$text-color: white;
$box-shadow-home: 0px 10px 5px rgba(0, 0, 0, 0.3);
$overlay-bg: rgba(0, 0, 0, 0.5);
$font-weight: 700;

/* BANNIERE */
.Section1 {
  height: $banner-height;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: $banner-radius;

  p {
    text-align: center;
    font-family: $font-family;
    color: $text-color;
    position: relative;
    z-index: 2;
    font-size: $font-size;
    font-weight: $font-weight;
  }

  .background-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    border-radius: $banner-radius;
  }

  &.home-banner {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $overlay-bg;
      z-index: 1;
      border-radius: $banner-radius;
    }

    .background-image {
      box-shadow: $box-shadow-home;
    }
  }

  &.about-banner {
    &::before {
      content: none;
    }

    .background-image {
      box-shadow: none;
    }
  }
}

/* Responsive media query for 375px */
@media (max-width: 375px) {
  .Section1.home-banner, .Section1.about-banner {
    height: 112px;

    p {
      font-size: 20px;
      text-align: left;
      white-space: normal;
      margin-left: 15px;
      padding-right: 50px;
    }
  }
}