/*COLLAPSES */
/* Variables de style pour réutilisation */
$border-color: white;
$background-color-collapse: #ff6060;
$background-color-content: #f6f6f673;
$font-size-header: 18px;
$transition-timing: 0.6s ease;

/* Styles communs pour les collapses */
.collapse-common {
  border: 1px solid $border-color;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;

  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: $background-color-collapse;
    cursor: pointer;
    border-radius: 5px;
    position: relative;

    h3 {
      margin: 0;
      font-size: $font-size-header;
      color: white;
      margin-left: 5px;
    }

    .arrow {
      transition: transform 0.3s ease;
      font-size: $font-size-header;
      color: white;
      transform: rotate(90deg) translateY(5px); /* Translation vers le bas pour abaisser la flèche */
      margin-right: 5px;
    }

    .open {
      transform: rotate(-90deg) translateY(5px); /* Ajustement identique lors de l'ouverture */
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-timing, padding $transition-timing;
    padding: 0 15px;
    background-color: $background-color-content;
    border: 1px solid $background-color-content;

    p, ul {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      padding: 10px 0;
      list-style-type: none;
    }
  }

  .collapse-content.open {
    max-height: 500px;
    padding: 15px;
  }
}

/* Collapse pour la page Apropos */
.content-abouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.collapse-about {
  @extend .collapse-common; 
  max-width: 82%; 
}

@media (max-width: 768px) {
  .content-abouts {
    align-items: normal;
  }

  .collapse-about {
    max-width: none; 
    width: 100%; 
  }
}

/* Collapse pour la page Logement */
.content-logements {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
  width: 100%; 
}

.collapse-logement {
  @extend .collapse-common; 
  flex: 1;
}

@media (max-width: 768px) {
  .content-logements {
    flex-direction: column; 
    gap: 10px;
  }

  .collapse-logement {
    width: 100%;
  }

  .collapse-content {
    padding: 5px 15px;
  }
}