/* COLLAPSE */
/* Collapse - A propos */
.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre les éléments horizontalement */
  justify-content: center; /* Centre les éléments verticalement si nécessaire */
}

.collapse-about {
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  max-width: 1023px;

  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #ff6060;
    cursor: pointer;
    border-radius: 5px;

    h3 {
      margin: 0;
      font-size: 18px;
      color: white;
    }

    .arrow {
      transition: transform 0.3s ease;
      font-size: 18px;
      color: white;
      transform: rotate(90deg);
    }

    .open {
      transform: rotate(-90deg);
    }
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease, padding 0.6s ease;
    padding: 0 15px;
    background-color: #F6F6F673;
    border: 1px solid #F6F6F673;

    p {
      margin: 0;
      font-size: 16px;
      line-height: 1.5;
      padding: 10px 0;
    }
  }

  .collapse-content.open {
    max-height: 500px;
    padding: 15px;
    transition: max-height 0.6s ease, padding 0.6s ease;
  }
}

/* COLLAPSE - LOGEMENT */
.logement {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 100%;
  margin-top: 15px;

  .collapse-logement {
    flex: 1;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;

    .collapse-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 15px;
      background-color: #ff6060;
      cursor: pointer;
      border-radius: 5px;

      h3 {
        margin: 0;
        font-size: 18px;
        color: white;
      }

      .arrow {
        transition: transform 0.3s ease;
        font-size: 18px;
        color: white;
        transform: rotate(90deg);
      }

      .open {
        transform: rotate(-90deg);
      }
    }

    .collapse-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.6s ease, padding 0.6s ease;
      padding: 0 15px;
      background-color: #F6F6F673;
      border: 1px solid #F6F6F673;

      p {
        margin: 0;
        font-size: 16px;
        line-height: 1.5;
        padding: 10px 0;
      }
    }

    .collapse-content.open {
      max-height: 500px;
      padding: 15px;
    }
  }
}

@media (max-width: 375px) {
  .logement {
    flex-direction: column;
  }
}