/* Nom et Visage du proprietaire */
.host {
    display: flex;
    align-items: center; 
    justify-content: flex-end; 
    
    .host-name {
      color: #ff6060; 
      font-size: 18px; 
      margin-right: 15px;
      width: 93px;
      text-align: right;
      font-weight: 400;
    }
  
    .host-picture {
      width: 64px; 
      height: 64px; 
      border-radius: 50%;
      object-fit: cover;
    }
  }


  @media (max-width: 768px) {
  .host {
    
   .host-name {
    display: flex;
    text-align: right;
    white-space: normal;
    font-size: 12px;
    margin-right: 5px;
    width: auto;
    }

    .host-picture {
      width: 32px;
      height: 32px;
    }
  }
} 