/* Gestion des Tags */
.content-tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  .tag {
    background-color: #ff6060;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 14px;
    text-align: center;
    display: flex; /* Flexbox pour assurer que les tags prennent la même largeur */
    justify-content: center; /* Centre le texte dans chaque tag */
    align-items: center; /* Centre verticalement le texte */
    flex: 1; /* Les tags prennent tous la même taille */
    max-width: 150px; /* Facultatif : Limite la largeur maximale si souhaité */
    min-width: 100px; /* Facultatif : Limite la largeur minimale si souhaité */
    white-space: nowrap; /* Empêche le texte de s'étendre sur plusieurs lignes */
  }