@charset "UTF-8";
.Section1 {
  height: 223px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 25px;
}
.Section1 p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
  z-index: 2;
  font-size: 48px;
}
.Section1 .background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  border-radius: 25px;
}
.Section1.home-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 25px;
}
.Section1.home-banner .background-image {
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.Section1.about-banner::before {
  content: none;
}
.Section1.about-banner .background-image {
  box-shadow: none;
}

.footer {
  position: relative;
  height: 209px;
  margin-top: 35px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* Responsive pour les écrans en dessous de 375px */
}
.footer .section_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.footer .footer-image {
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}
.footer p {
  color: white;
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
  max-width: 100%;
}
@media screen and (max-width: 375px) {
  .footer .section_footer {
    width: 134px;
    padding: 0;
  }
  .footer .footer-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .footer p {
    font-size: 12px;
    margin-top: 5px;
    word-wrap: break-word;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.header {
  position: relative;
  height: 68px;
  overflow: hidden;
  margin-left: 6.9%;
  margin-right: 6.9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header .imgLogoHeader {
  width: 210px;
  padding-left: 0;
}
.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}
.header li {
  display: inline;
}
.header li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding-bottom: 5px;
  transition: border-bottom 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
.header li a.active-link {
  border-bottom: 1px solid black;
  padding-bottom: 0;
}
@media (max-width: 375px) {
  .header .header {
    height: 47px;
  }
  .header .imgLogoHeader {
    width: 145px;
  }
  .header li a {
    font-size: 12px;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Section1 {
  height: 223px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 25px;
}
.Section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 25px;
}
.Section1 p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
  z-index: 2;
  font-size: 48px;
}
.Section1 .background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.Gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  margin-top: 25px;
  background-color: #F6F6F6;
  padding: 55px;
  border-radius: 25px;
}
@media (max-width: 375px) {
  .Gallery {
    background-color: transparent; /* Suppression du fond gris */
    grid-template-columns: 1fr;
    padding: 0;
    grid-gap: 20px;
  }
}

.logement-card {
  position: relative;
  height: 255px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FF6060;
}
.logement-card .logement-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  max-width: 90%;
}
@media (max-width: 375px) {
  .logement-card {
    width: 100%;
  }
}

main {
  margin-left: 6.9%;
  margin-right: 6.9%;
  margin-top: 15px;
  margin-bottom: 15px;
}
