@charset "UTF-8";
/* BANNIERE */
.Section1 {
  height: 223px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 25px;
}
.Section1 p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
  z-index: 2;
  font-size: 48px;
  font-weight: 700;
}
.Section1 .background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  border-radius: 25px;
}
.Section1.home-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 25px;
}
.Section1.home-banner .background-image {
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.Section1.about-banner::before {
  content: none;
}
.Section1.about-banner .background-image {
  box-shadow: none;
}

/* Responsive media query for 375px */
@media (max-width: 375px) {
  .Section1.home-banner, .Section1.about-banner {
    height: 112px;
  }
  .Section1.home-banner p, .Section1.about-banner p {
    font-size: 20px;
    text-align: left;
    white-space: normal;
    margin-left: 15px;
    padding-right: 50px;
  }
}
/* FOOTER */
.footer {
  position: relative;
  height: 209px;
  margin-top: 35px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* Responsive pour les écrans en dessous de 375px */
}
.footer .section_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}
.footer .footer-image {
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
}
.footer p {
  color: white;
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
  max-width: 100%;
}
@media screen and (max-width: 375px) {
  .footer .section_footer {
    width: 134px;
    padding: 0;
  }
  .footer .footer-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .footer p {
    font-size: 12px;
    margin-top: 5px;
    word-wrap: break-word;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/* HEADER */
.header {
  position: relative;
  height: 68px;
  overflow: hidden;
  margin-left: 6.9%;
  margin-right: 6.9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.header .imgLogoHeader {
  width: 210px;
  padding-left: 0;
}
.header ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}
.header li {
  display: inline;
  font-weight: 500;
}
.header li a {
  text-decoration: none;
  color: black;
  font-size: 24px;
  padding-bottom: 5px;
  transition: border-bottom 0.3s ease;
  font-family: "Montserrat", sans-serif;
}
.header li a.active-link {
  border-bottom: 1px solid black;
  padding-bottom: 0;
}
@media (max-width: 375px) {
  .header .header {
    height: 47px;
  }
  .header .imgLogoHeader {
    width: 145px;
  }
  .header li a {
    font-size: 12px;
  }
}

/* COLLAPSE */
.collapse {
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 1023px;
}
.collapse .collapse-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #ff6060;
  cursor: pointer;
  border-radius: 10px;
}
.collapse .collapse-header h3 {
  margin: 0;
  font-size: 18px;
  color: white;
}
.collapse .collapse-header .arrow {
  transition: transform 0.3s ease;
  font-size: 18px;
  color: white;
  transform: rotate(90deg); /* Flèche vers le haut par défaut */
}
.collapse .collapse-header .open {
  transform: rotate(270deg); /* Fait pivoter la flèche vers le bas */
}
.collapse .collapse-content {
  padding: 15px;
  background-color: rgba(246, 246, 246, 0.4509803922);
  border: 1px solid rgba(246, 246, 246, 0.4509803922);
}
.collapse .collapse-content p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}

/* LAYOUT */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HOME */
.Section1 {
  height: 223px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 25px;
}
.Section1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 25px;
}
.Section1 p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: white;
  position: relative;
  z-index: 2;
  font-size: 48px;
}
.Section1 .background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  display: block;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

.Gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  margin-top: 25px;
  background-color: #F6F6F6;
  padding: 55px;
  border-radius: 25px;
}
@media (max-width: 375px) {
  .Gallery {
    background-color: transparent; /* Suppression du fond gris */
    grid-template-columns: 1fr;
    padding: 0;
    grid-gap: 20px;
  }
}

.logement-card {
  position: relative;
  height: 255px;
  border-radius: 10px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%), #FF6060;
}
.logement-card .logement-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  max-width: 90%;
}
@media (max-width: 375px) {
  .logement-card {
    width: 100%;
  }
}

/* A Propos */
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
}

/* NOT FOUND */
.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.not-found h2 {
  font-size: 288px;
  color: #ff6060;
  margin-top: 20px;
  margin-bottom: 20px;
}
.not-found p {
  font-size: 36px;
  color: #ff6060;
  margin-top: 40px;
  margin-bottom: 60px;
  text-align: center;
}
.not-found .home-link {
  margin-top: 20px;
  font-size: 18px;
  color: black;
  text-decoration: underline;
  transition: color 0.3s ease;
  margin-bottom: 50px;
}

@media (max-width: 375px) {
  .not-found h2 {
    height: 99px;
    font-size: 96px;
  }
  .not-found p {
    font-size: 18px;
    width: 260px;
  }
  .home-link {
    font-size: 14px;
  }
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

main {
  margin-left: 6.9%;
  margin-right: 6.9%;
  margin-top: 15px;
  margin-bottom: 15px;
}
